.back {
    background: goldenrod;
    color: white;
    border-radius: 7px;
    padding: 10px;
    display: inline-block;
    margin: 10px 0;
    
} 
.user-repos {
    background-color: antiquewhite;
    padding: 10px 30px;
    margin: 20px 0;
    border-radius: 10px; 
    align-items: center;
}
.repo { 
    padding: 20px;
    border-bottom: 1px solid #444; 
    
}
.repo a {
    color: goldenrod; 
}
