* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box; 
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  display: grid;
  place-items: center; 
  min-height: 100vh;
  background-color: #141d2f;
}

